@page "/orders"
@attribute [Authorize]
@inject IShopService Shop
@inject NavigationManager NavigationManager

<h3>Złożone zamówienia</h3>

@if (Shop.Orders == null)
{
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Data: </th>
                <th scope="col">Suma: </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Shop.Orders)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.PriceTotal</td>
                    <td><button class="btn btn-warning" @onclick='() => NavigationManager.NavigateTo($"/order/{item.Id}")'>Szczegóły zamówienia</button></td>
                </tr>
            }

        </tbody>
    </table>
}


@code {
    protected async override void OnInitialized()
    {
        await Shop.LoadOrdersAsync();
        StateHasChanged();
    }
}
