@inherits LayoutComponentBase
@using Blazored.Toast.Configuration


<div>
    <div class="main-strip">
        <div>
            <AuthorizeView>
                <Authorized>
                    <WalletStatus Message="Saldo: "></WalletStatus>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>

    <div class="page">
        <div class="sidebar-new">
            <NavMenu />
        </div>


        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>

    </div>
    <div class="card-footer">
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" href="fault">
                    <span class="oi oi-bug" aria-hidden="true"></span> Zgłoś problem
                </NavLink>
            </Authorized>
        </AuthorizeView>

    </div>

</div>

<BlazoredToasts Position="ToastPosition.TopLeft" />

